
<div class="container">
    <div class="jumbotron">
            <h1 class="display-4">Welcome to the Blog</h1>
            <p class="lead">There are many like it, but this one is mine.</p>
        </div>
</div>
    <div id="posts" class="container list-group">
{{#each blogPost}}
<div class ="post" data-id="{{id}}">
<h1>{{title}}</h1>
<p>{{first_name}} {{last_name}}</p>
</div>
<hr>
{{/each}}
</div>